
#leg1{
    
    font-weight: bold;
    background-color: royalblue;
  }
#leg2{
   
    font-weight: bold;
    background-color: purple;

  }
#leg3{
    
    font-weight: bold;
    background-color: mediumvioletred;
}
#section1{
  background-color: royalblue;
}
#section2{
  background-color: purple;
}
#section3{
  background-color: mediumvioletred;

}
input[type="radio"]{
  width: auto;
}
